@import "null.css";
@font-face {
	font-family: "Circular";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Circular";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Circular";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Circular";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Circular";
	font-size: 18px;
	color: #5f5f5f;
}
.wrapper {
	padding: 20px;
	max-width: 1025px;
	margin: 0 auto;
}
.header {
	line-height: 1.26;
	text-align: center;
	max-width: 750px;
	margin: 0 auto;
}
.header-title {
	font-size: 65px;
	margin: 0 0 20px 0;
	color: #313131;
}
.subtitle {
	font-size: 20px;
	margin: 0 0 67px 0;
}
.main-titile {
	font-size: 34px;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 20px 0;
	color: #313131;
}
.main-text {
	line-height: 1.55;
	margin: 0 0 60px 0;
}
.main-name {
	color: #313131;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 5px 0;
}
.main-profesion {
	line-height: 1.26;
	color: #b8b8b8;
	margin: 0 0 30px 0;
}
