/* &display=swap */
/* 
@font-face {
	font-family: "...";
	src: url("../fonts") format("woff2"), url("../fonts") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
} 
*/
@import "null.css";
@font-face {
	font-family: "Academy";
	src: url("../fonts/Academy-Italic.woff2") format("woff2"), url("../fonts/Academy-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Vremena";
	src: url("../fonts/VremenaMediumItalic.woff2") format("woff2"),
		url("../fonts/VremenaMediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
body {
	font-family: "Academy", sans-serif;
	font-size: 18px;
}
h1,
h2 {
	font-family: "Vremena", sans-serif;
	text-align: center;
	text-transform: capitalize;
	font-size: 42px;
	margin: 0 0 20px 0;
}
h2 {
	font-size: 28px;
	text-align: left;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	max-width: 1230px;
	margin: 0 auto;
	padding: 20px;
}
.main-panzer {
	text-align: justify;
}
.panzer-tracks {
	display: inline-block;
	outline: 10px dashed #000;
	border-radius: 100px;
}
.panzer-text {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid #000;
	margin: 0;
}
.panzer-text.small {
	width: 70px;
	height: 70px;
	margin-bottom: 15px;
	border: 10px dashed #000;
}
.panzer-body p {
	overflow: hidden;
	border: 10px solid #000;
	border-bottom: 40px solid #000;
	width: 700px;
	height: 150px;
	border-radius: 50% 100% 0 0;
	margin: 0 0 -30px -8px;
}
.panzer-tower p {
	border: 5px solid #000;
	width: 300px;
	margin: 0 0 -15px 130px;
	border-radius: 50% 100% 0 0;
	overflow: hidden;
	display: inline-block;
}
.panzer-tower .tower-tool {
	margin: 0 0 0 -9px;
	border-radius: 0;
	height: 30px;
}
.panzer-tower .tower-projectile {
	border: 2px solid #000;
	width: 60px;
	margin: 0 0 6px 10px;
	border-radius: 5px 100% 100% 5px;
	box-shadow: -25px 0 20px 5px yellow, -25px 0 20px 10px red, -25px 0 15px 15px yellow, -25px 0 20px 20px red,
		-25px 0 25px 25px yellow, -25px 0 30px 30px red, inset 0 0 20px 5px yellow, inset 0 0 5px 5px red;
}

.header-menu {
	margin: 0 0 30px 0;
}
.header-menu li {
	margin: 0 0 10px 0;
}
.header-menu li a {
	font-size: 22px;
	text-transform: capitalize;
}
.maket {
	color: red;
}
.header-text {
	margin: 0 0 25px 0;
}
.main-img {
	display: block;
	max-width: 500px;
	margin: 0 auto 15px;
}
.main-text {
	margin: 0 0 15px;
	max-width: 700px;
	text-align: justify;
}
.oplot {
	margin: 0 0 0 auto;
	border: 5px solid rgb(129, 145, 39);
	border-top: none;
	border-radius: 5px;
	padding: 3px;
	text-decoration: line-through;
}
.t-90 {
	margin: 0 0 0 auto;
	border: 5px dotted #32c6d1;
	border-radius: 5px;
	padding: 5px;
	text-transform: lowercase;
	text-decoration: overline;
	outline: 5px double #000;
}
.leklerk {
	margin: 0 0 0 auto;
	border: 2px dashed #5fd132;
	border-radius: 5px;
	padding: 3px;
	box-shadow: inset 0 0 10px 5px #000;
	color: green;
	text-shadow: 0 3px 2px red;
}
.tk {
	margin: 0 0 0 auto;
	border: 8px double #1a9e6c;
	border-radius: 5px;
	padding: 3px;
	box-shadow: 3px -2px 5px 5px #1a9e6c, inset 3px -2px 2px 3px #106846;
	text-indent: 30px;
	letter-spacing: 2px;
}
.merkava {
	margin: 0 0 0 auto;
	border: 5px solid #2060b4;
	border-radius: 5px;
	padding: 3px;
	opacity: 0.5;
	letter-spacing: 2px;
}
.armata {
	margin: 0 0 0 auto;
	border: 8px double #1a9e6c;
	border-radius: 5px;
	padding: 3px;
	text-shadow: 2px 3px 5px #000;
	word-spacing: 7px;
}
.chelenger {
	margin: 0 0 0 auto;
	border: 8px double #1a9e6c;
	border-radius: 5px;
	padding: 3px;
	color: #2060b4;
}
.m1 {
	margin: 0 0 0 auto;
	border: 8px double #1a9e6c;
	border-radius: 5px;
	padding: 3px;
	outline: 3px solid #000;
}
.k2 {
	margin: 0 0 0 auto;
	border: 8px double #1a9e6c;
	border-radius: 0 0 0 15px;
	padding: 3px;
	text-decoration: underline;
}
.leopard {
	margin: 0 0 0 auto;
	border: 8px double #1a9e6c;
	border-radius: 10px 0 10px 0;
	padding: 3px;
	text-transform: lowercase;
}

.footer {
	max-width: 300px;
	margin: 0 auto;
}
.footer-link {
	display: inline-block;
	font-size: 30px;
	margin: 30px 15px 0 0;
	border: 3px solid #000;
	padding: 5px 10px;
	border-radius: 10px 0 0 10px;
	box-shadow: 0 0 10px 2px #000;
}
.footer .maket {
	border-radius: 0 10px 10px 0;
}
